<section id="catalog">
    <h1>List of Items</h1>
    {{#if itemsList}}
    {{#each itemsList}}
    <div class="card">
        <div>
            <img src="{{imgUrl}}" class="card-img" alt="img">
        </div>

        <div>
            <h3 class="card-title">{{itemName}}</h3>
            <p class="card-category">Category: {{category}}</p>
        </div>
        <a href="/details/{{_id}}" class="card-btn">See More</a>
    </div>
    {{/each}}
    {{else}}
    <p class="err">Sorry, catalog is empty</p>
    {{/if}}

</section>