<section id="details">
    {{#if item}}
    <div class="details-container">
        <h1 class="itemName">{{item.itemName}}</h1>
        <div class="details-desc">
            <img src="{{item.imgUrl}}" class="details-img" alt="image">
            <div class="btns">
                <p class="description">{{item.description}}</p>
                <a href="/catalog" class="back-btn">Back</a>
                {{#if isOwner}}
                <a href="/edit{{item._id}}" class="edit-btn">Edit</a>
                <a href="/delete{{item._id}}" class="delete-btn">Delete</a>
                {{/if}}
            </div>
        </div>
    </div>
    {{else}}
    <p class="err">No such item</p>
    {{/if}}
</section>