{{#if cube}}
<h1>{{cube.name}}</h1>
<img class="cube" src="{{cube.imgUrl}}">
<div class="details">
  <p><span>Description:</span> {{cube.description}}</p>
  <p><span>Difficulty level:</span> {{cube.difficultyLevel}}</p>
  <a class="btn" href="/">Back</a>
</div>

<h2>Accessories</h2>
<div class="accessories">
  {{#if cubeAccessories}} 
  {{#each cubeAccessories}}
  <div class="accessory">
    <img src="{{imgUrl}}" alt="stickerName">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
  </div>
  {{/each}}
  {{else}}
  <h3 class="italic">This cube has no accessories yet...</h3>
  {{/if}}
</div>

<div class="form">
  <h1>Attach a new accessory</h1>
  <form action="/details/{{cube._id}}" method="POST">
    <label for="accessory">Accessories</label>
    <select name="accessoryId" id="accessory">
      {{#each accesories}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Attach">
  </form>
</div> 
{{else}} 
<div class="details">
  <h2>No such cube</h2>
  <a class="btn" href="/">Back</a>
</div> 
{{/if}}