{{#if errors}}
<div id="notifications">
    {{#each errors}}
    <p class="notification-message">{{msg}}</p>
    {{/each}}
</div>
{{/if}}
<h1>Edit Cube</h1>
<div class="form">
    
    <form action="#" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{cube.name}}">
        <label for="description">Description</label>
        <textarea id="description" name="description">{{cube.description}}</textarea>
        <label for="image">ImageUrl</label>
        <input type="text" id="image" name="imgUrl" value="{{cube.imgUrl}}">
        <label for="difficulty">Difficulty</label>
        <select id="difficulty" name="difficultyLevel" />
        {{#each optionsArr}}
        <option value="{{lvl}}" {{#if selected}} selected="true" {{/if}}>{{msg}}</option>
        {{/each}}
        </select>
        <input type="submit" value="Edit">
    </form>
   
</div>