<!-- In case of error, you should display div with class "errorContainer" -->
<!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
<!-- <div>
        <div class="errorContainer">
            <p>Error</p>
        </div>
    </div> -->
{{#if errors}}
<div class="error-box">
    {{#each errors}}
    <p>{{msg}}</p>
    {{/each}}
</div>
{{/if}}

<section class="edit-form-container">

    <form action="/edit/{{id}}" method="post">
        <h3>Edit Book Review</h3>
        <label>Title</label>
        <input type="text" name="title" class="box" value="{{title}}" id=""
            value="{{title}}">
        <label>Author</label>
        <input type="text" name="author" class="box"  id="" value="{{author}}">
        <label>Genre</label>
        <input type="text" name="genre" class="box"  id="" value="{{genre}}">
        <label>Stars</label>
        <input type="number" name="stars" class="box"  id="" value="{{stars}}">
        <label>Image</label>
        <input type="text" name="image" class="box" value="{{image}}" id="">
        <label>Review</label>
        <textarea class="box" name="description">{{description}}</textarea>
        <input type="submit" value="Edit" class="btn">
    </form>
</section>